<ion-content>
    <div class="head_content">
        <div class="icon">
            <img src="assets/image/logo.png" />
        </div>
    </div>
    <div class="inputdiv">
        <ion-list>
            <ion-grid>
                <ion-row>
                    <ion-col>
                        <h3>Sign in</h3>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col col-9>
                        <ion-item class="item1">
                            <ion-label floating class="top_item">Username</ion-label>
                            <ion-input type="text" [(ngModel)]="email" id="contactemail" #contactemail="ngModel" required></ion-input>
                        </ion-item>
                    </ion-col>
                    <ion-col class="colrow" col-3>
                        <ion-icon name="person"></ion-icon>
                    </ion-col>
                    <div class="md-errors-spacer" [hidden]="contactemail.valid || contactemail.untouched">
                        <div *ngIf="contactemail.errors && contactemail.errors.required">
                            Username is required
                        </div>
                    </div>
                </ion-row>
                <ion-row>
                    <ion-col col-9>
                        <ion-item class="item1">
                            <ion-label floating class="top_item">Password</ion-label>
                            <ion-input type="password" [(ngModel)]='password'> </ion-input>
                        </ion-item>
                    </ion-col>
                    <ion-col class="colrow" col-3>
                        <ion-icon name="lock"></ion-icon>
                    </ion-col>
                </ion-row>
                <ion-row class="forgotpasswordlabel">
                    <ion-col col-6>

                    </ion-col>
                    <ion-col class="colrowlabel" col-6>
                        <ion-label (click)="openForgotPasswordPage()">Forgot Password?</ion-label>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-list>

    </div>

    <div class="div_button">
        <button ion-button outline round (click)="doLogin()" id="btn-login">SIGN IN</button>
        <!-- <button ion-button outline round (click)="loginWithFacebook()" id="btn-login" class="btn_fb"><u>Login With Facebook</u></button> -->
        <br>
    </div>

    <div class="error_popup">
        <p>{{error}}</p>
        <span (click)="dismissPopup()">OK</span>
    </div>
</ion-content>