<ion-tabs #myTabs>
    <ion-tab [root]="postTask" tabIcon="md-search" tabTitle="Search" tabsHideOnSubPages="true"></ion-tab>
    <ion-tab [root]="myTask" tabIcon="md-calendar" tabTitle="Appointments" tabsHideOnSubPages="true"></ion-tab>
    <ion-tab (ionSelect)="presentPopover()"  tabIcon="md-more" tabTitle="More" tabsHideOnSubPages="true"></ion-tab>
</ion-tabs>
