page-forgot-password {
    .scroll-content {
        .head_content {
            height: 82vw;
            background: #009dce;
            padding: 10%;
            .icon {
                text-align: center;
            }
            .icon img {
                height: 33vw;
            }
            h3 {
                color: #fff;
                font-family: 'sans-serif';
                margin-top: 0.6rem;
            }
        }
        .div_button {
            top: -15vw;
            text-align: center;
            p {
                font-family: 'sans-serif';
                text-align: center;
                color: #4b83b5;
                span {
                    font-weight: bold;
                }
            }
        }
        .div_button {
            top: 85%;
            width: 100%;
            .signuplabel {
                position: fixed;
                bottom: 0px;
                left: 0px;
                width: 100%;
                .col {
                    text-align: center;
                    color: #46c4ed;
                }
            }
            button {
                margin-top: 2%;
                font-family: 'sans-serif-bold';
                height: 15vw;
                font-size: 2.2rem;
                letter-spacing: 1px;
                width: 80%;
                color: #fff;
                border-width: 3px;
                border: 1px solid #009dce;
                background: #009dce;
            }
        }
        .inputdiv {
            margin-left: 6%;
            margin-right: 6%;
            color: #b8b8b8;
            .list {
                box-shadow: 0px 0px 20px 2px #888;
                position: relative;
                border: 1px solid #e2dede;
                border-radius: 2%;
                margin-top: -29% !important;
                background: #fff;
                margin-bottom: 7%!important;
                .grid {
                    padding: 0px !important;
                    .forgotpasswordlabel {
                        height: 16vw;
                        padding-top: 5px;
                        border-bottom: none !important;
                        .item1 {
                            .checkbox-ios .checkbox-checked {
                                border-color: #a5a5a5;
                                background-color: #a5a5a5;
                            }
                        }
                    }
                    .row {
                        border-bottom: 1px solid #b5b5b5;
                        .col {
                            h3 {
                                color: #1d1b1b;
                                text-align: center;
                                font-size: 30px;
                                font-weight: normal;
                            }
                        }
                        .colrow {
                            text-align: center;
                            margin-top: 5%;
                            ion-icon {
                                font-size: 4rem;
                            }
                        }
                        .colrowlabel {
                            text-align: right;
                            margin-top: 2%;
                        }
                        .item {
                            font-size: none;
                            color: #b5b5b5 !important;
                            border-bottom: none!important;
                            padding: 0px!important;
                            .item-inner {
                                border: none!important;
                                padding-right: 0px!important;
                                box-shadow: none!important;
                                .text-input {
                                    margin-bottom: 0% !important;
                                    color: #000000 !important;
                                }
                                .input-wrapper {
                                    .input-has-focus.label-md[floating] {
                                        color: black!important;
                                    }
                                }
                                .item-input:last-child {
                                    box-shadow: none!important;
                                }
                            }
                        }
                    }
                    .reset_password_btn {
                        border: none;
                    }
                }
                .item-block:first-child {
                    border-top: none;
                    box-shadow: none!important;
                }
            }
        }
    }
    .error_popup{
        display: none;
        background: #ffffff;
        padding: 15px;
        width: 300px;
        margin: auto;
        position: fixed;
        left: 50%;
        top: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        border-radius: 10px;
        box-shadow: 1px 1px 10px 1px black;
        p{
            color: #000000;
            font-size: 18px;
            font-weight: 700;
            margin: 0px;
            text-align: center;
            &:after{
                content: '';
                border-bottom: 2px solid grey;
                display: block;
                margin: 10px 0px;
            }
        }
        span{
            display: block;
            text-align: center;
            color: blue;
            font-size: 16px;
            font-weight: 700;
        }
    }
}