<ion-content>
    <div class="head_content">
        <div class="icon">
            <img src="assets/image/logo.png" />
        </div>
    </div>
    <div class="inputdiv">
        <ion-list>
            <ion-grid>
                <ion-row>
                    <ion-col>
                        <h3></h3>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col col-9>
                        <ion-item class="item1">
                            <ion-label floating class="top_item">Enter Mobile Number</ion-label>
                            <ion-input type="text" [(ngModel)]="email"> </ion-input>
                        </ion-item>
                    </ion-col>
                    <ion-col class="colrow" col-3>
                        <ion-icon name="email"></ion-icon>
                    </ion-col>
                </ion-row>
                <ion-row class="reset_password_btn">
                    <ion-col>
                        <div class="div_button">
                            <button ion-button outline round (click)="opnpagecode()" id="btn-login">Reset Password</button>
                        </div>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-list>
        <div class="div_button">
            <button ion-button outline round (click)="doSignUp()" id="btn-register" style="display: none">SIGN UP</button><br>
            <p (click)="openSignInPage()"> Already have an account?<span> Sign In.</span></p>
        </div>
    </div>

    <div class="error_popup">
        <p>{{error}}</p>
        <span (click)="dismissPopup()">OK</span>
    </div>
</ion-content>