page-loader {
    .spinner-md-crescent circle{
        stroke: #fff;
    }
    .content{
        background: #5B86E5;
    }
    ion-spinner {
        position: relative;
        display: inline-block;
        width: 100px;
        height: 100px;
        circle{
            stroke: #fff;
        }
    }
    ion-spinner * {
        width: 100px;
        height: 100px;
        stroke: #444;
        fill: #222;
      }
}
