<!--
  Generated template for the LoaderPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->



<ion-content>
    <ion-slides>
      <ion-slide>
          <ion-spinner></ion-spinner>
      </ion-slide>
    </ion-slides>
</ion-content>
