page-welcome {
  font-weight: 300;

  ion-slide {
    position: relative;
    background-size: cover;

    p {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: #0074d9;
      color: #ffffff;
      padding: 28px 28px 48px 28px;
      font-size: 2.7rem;
      margin-bottom: 0;
    }

    img {
      width: 50px;
      height: 50px;
      margin-top: -150px;
    }
  }

  .swiper-pagination-bullet {
    background: white;
  }
  .btn-dashboard {
    color: #0074d9;
    font-size: 15px;
    height: 60px;
    margin-bottom: 16px;
    cursor: pointer;
  }
  .dashboard-logo {
    height: 120px;
    margin-top: 40px;
    text-align: center;
  }
  .dashboard-icon {
    height: 40px;
    padding-right: 28px;
    position: absolute;
    left: 16px;
  }
  .dashboard-arrow {
    height: 40px;
    position: absolute;
    right: 16px;
    top: 20px;
  }
  .cardtitle {
    display: block;
    font-size: 13px !important;
    color: blue;
    text-align: center;
    font-weight: bold;
    font-family: sans-serif;
  }
  .circle {
    cursor: pointer;
    transition: transform 0.2s;
    width: 75px;
    height: 75px;
    background-color: white;
    text-align: center;
    border-radius: 50%;
    margin-left: 25%;
    border: 2px solid #035dab;
  }
  .cardimg {
    width: 40px;
    margin-top: 23%;
  }
  .circle:hover {
    transform: scale(1.5) !important;
  }
  .p-font {
    text-align: center;
    font-size: 1.5rem;
    color: white;
    margin: 17px;
    font-weight: bold;
    font-family: sans-serif;
  }
  /* iPads (portrait and landscape) ----------- */
  @media only screen and (min-device-width: 768px) and (max-device-width: 1366px) {
    /* Styles */
    .circle {
      cursor: pointer;
      transition: transform 0.2s;
      width: 120px;
      height: 120px;
      background-color: white;
      text-align: center;
      border-radius: 50%;
      margin-left: 32%;
      border: 2px solid #035dab;
    }
    .p-font {
      text-align: center;
      font-size: 2.5rem;
      color: white;
      margin: 17px;
      font-weight: bold;
      font-family: sans-serif;
    }
    .cardimg {
      width: 60px;
      margin-top: 23%;
    }
  }
  .cardcontent {
    padding: 0px 5px 0px 5px !important;
  }
  .cardblock {
    display: block;
    overflow: hidden;
    border-radius: 10px !important;
    box-shadow: 10px 10px black !important;
  }
  /deep/ .scroll-content {
    overflow-y: hidden !important;
  }
}
