<!-- <ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Welcome</ion-title>
    </ion-navbar>
</ion-header> -->

<ion-content padding style="background-color: #0074d9;">
  <div class="dashboard-logo">
    <img src="assets/img/logo.png" />
  </div>
  <div>
    <ion-grid>
      <ion-row>
        <ion-col col-6>
          <div class="circle">
            <img
              src="assets/img/stethoscope.png"
              class="cardimg"
              (click)="openSpecialist()"
            />
          </div>
          <p class="p-font">Specialist</p>
        </ion-col>
        <ion-col col-6>
          <div class="circle">
            <img
              src="assets/img/doctor.png"
              class="cardimg"
              (click)="openDoctorList()"
            />
          </div>
          <p class="p-font">Doctors</p>
        </ion-col>
        <ion-col col-6>
          <div class="circle">
            <img
              src="assets/img/hospital.png"
              class="cardimg"
              (click)="openHospitalList()"
            />
          </div>
          <p class="p-font">Hospital</p>
        </ion-col>
        <ion-col col-6>
          <div class="circle">
            <img
              src="assets/img/clinic.png"
              class="cardimg"
              (click)="openClinicList()"
            />
          </div>
          <p class="p-font">Clinic</p>
        </ion-col>
      </ion-row>
    </ion-grid>
    <!-- <button ion-button icon-only round block large color="light" class="btn-dashboard" (click)="openSpecialist()">
            <img src="assets/img/stethoscope.png" class="dashboard-icon" />
            Choose By Specialist
            <ion-icon end name="arrow-dropright" class="dashboard-arrow"></ion-icon>
        </button>
        <button ion-button icon-only round block large color="light" class="btn-dashboard" (click)="openDoctorList()">
            <img src="assets/img/doctor.png" class="dashboard-icon" />
            Search By Doctor Name
            <ion-icon end name="arrow-dropright" class="dashboard-arrow"></ion-icon>
        </button>
        <button ion-button icon-only round block large color="light" class="btn-dashboard" (click)="openHospitalList()">
            <img src="assets/img/hospital.png" class="dashboard-icon" />
            Search By Hospital
            <ion-icon end name="arrow-dropright" class="dashboard-arrow"></ion-icon>
        </button>
        <button ion-button icon-only round block large color="light" class="btn-dashboard" (click)="openClinicList()">
            <img src="assets/img/clinic.png" class="dashboard-icon" />
            Search By Clinic
            <ion-icon end name="arrow-dropright" class="dashboard-arrow"></ion-icon>
        </button> -->
  </div>
</ion-content>
