page-signup {
    .scroll-content {
        .head_content {
            background: #009dce;
            height: 82vw;
            padding: 10%;
            .icon {
                text-align: center;
            }
            .icon img {
                height: 33vw;
            }
            h3 {
                color: #fff;
                font-family: 'sans-serif';
                margin-top: 0.6rem;
            }
        }
        .div_button {
            text-align: center;
            top: 93%;
            width: 100%;
            align-items: center;
            color: #fff;
            p {
                font-family: 'sans-serif';
                text-align: center;
                color: #000000;
                span {
                    color: #4b83b5;
                    font-weight: bold;
                }
            }
            .signuplabel {
                .col {
                    text-align: center;
                    color: #46c4ed;
                }
            }
            button {
                margin-top: 2%;
                font-family: 'sans-serif-bold';
                height: 13vw;
                font-size: 2.2rem;
                letter-spacing: 1px;
                width: 75%;
                color: #fff;
                border-width: 3px;
                border: 1px solid #009dce;
                background: #009dce;
            }
        }
        .inputdiv {
            margin-left: 6%;
            margin-right: 6%;
            color: #b8b8b8;
            font-family: sans-serif;
            ion-select {
                padding: 11px 8px 11px 8px!important;
            }
            .select-text {
                color: #b5b5b5!important;
            }
            .list {
                position: relative;
                border: 1px solid #e2dede;
                border-radius: 2%;
                margin-top: -29% !important;
                background: #fff;
                margin-bottom: 7%!important;
                box-shadow: 0px 0px 20px 2px #888;
                .grid {
                    padding: 0%;
                    .row {
                        border-bottom: 1px solid #b5b5b5;
                        .col {
                            padding: 5px 5px 0px 5px!important;
                            h3 {
                                margin-top: 5px;
                                margin-bottom: 5px;
                                color: #1d1b1b;
                                text-align: center;
                                font-size: 30px;
                                font-weight: normal;
                            }
                        }
                    }
                    .lastrow {
                        border-bottom: none !important;
                    }
                    .row {
                        .item1 {
                            .date {
                                padding-left: 7px;
                            }
                            #prof_pic {
                                font-size: 1.3rem;
                                color: #b5b5b5!important;
                            }
                            ::-webkit-file-upload-button {
                                color: #999;
                                border: 0.55px solid #999;
                                padding: 5px;
                                background: #fff;
                            }
                        }
                        border-bottom: 1px solid #a5a5a5;
                        .colrow {
                            text-align: center;
                            justify-content: center;
                            align-items: center;
                            display: flex;
                            ion-icon {
                                margin-top: 5px;
                                font-size: 3rem;
                            }
                        }
                        .item {
                            color: black;
                            border-bottom: none!important;
                            padding: 0px!important;
                            .item-inner {
                                border: none!important;
                                padding-right: 0px!important;
                                box-shadow: none!important;
                                .top_item {
                                    color: #b8b8b8;
                                }
                                .text-input {
                                    margin: 11px 8px 0px 8px;
                                    color: #000000 !important;
                                }
                                input-wrapper {
                                    .input-has-focus.label-md[floating] {
                                        color: black!important;
                                    }
                                }
                                ion-label {
                                    margin: 13px 8px 13px 8px!important;
                                }
                                .item-input:last-child {
                                    box-shadow: none!important;
                                }
                            }
                        }
                    }
                }
                .item-block:first-child {
                    border-top: none;
                    box-shadow: none!important;
                }
            }
        }
    }
    .error_popup {
        display: none;
        background: #ffffff;
        padding: 15px;
        width: 300px;
        margin: auto;
        position: fixed;
        left: 50%;
        top: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        border-radius: 10px;
        box-shadow: 1px 1px 10px 1px black;
        p {
            color: #000000;
            font-size: 18px;
            font-weight: 700;
            margin: 0px;
            text-align: center;
            &:after {
                content: '';
                border-bottom: 2px solid grey;
                display: block;
                margin: 10px 0px;
            }
        }
        span {
            display: block;
            text-align: center;
            color: blue;
            font-size: 16px;
            font-weight: 700;
        }
    }
}