<ion-content>
    <div class="head_content">
        <div class="icon">
            <img src="assets/image/logo.png" />
        </div>
    </div>
    <div class="inputdiv">

        <ion-list>
            <ion-grid>
                <ion-row>
                    <ion-col>
                        <h3>Profile</h3>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col col-9>
                        <ion-item class="item1">
                            <!-- <ion-label class="top_item">Full Name</ion-label> -->
                            <ion-input type="text" placeholder="First Name" [(ngModel)]="fname"> </ion-input>
                        </ion-item>
                    </ion-col>
                    <ion-col class="colrow" col-3>
                        <ion-icon ios="ios-person" md="md-person"></ion-icon>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col col-9>
                        <ion-item class="item1">
                            <!-- <ion-label class="top_item">Full Name</ion-label> -->
                            <ion-input type="text" placeholder="Last Name" [(ngModel)]="lname"> </ion-input>
                        </ion-item>
                    </ion-col>
                    <ion-col class="colrow" col-3>
                        <ion-icon ios="ios-person" md="md-person"></ion-icon>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col col-9>
                        <ion-item class="item1">
                            <!-- <ion-label class="top_item">Full Name</ion-label> -->
                            <ion-input type="text" placeholder="ID Card No." [(ngModel)]="customer_id"> </ion-input>
                        </ion-item>
                    </ion-col>
                    <ion-col class="colrow" col-3>
                        <ion-icon ios="ios-person" md="md-person"></ion-icon>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col col-12>
                        <ion-item class="item1">
                            <ion-label>Gender</ion-label>
                            <!-- <ion-input type="text" placeholder="Gender" [(ngModel)]="gender"> </ion-input> -->
                            <ion-select [(ngModel)]="gender">
                                <ion-option value="female" >Female</ion-option>
                                <ion-option value="male">Male</ion-option>
                            </ion-select>
                        </ion-item>
                    </ion-col>
                    <!-- <ion-col class="colrow" col-3>
                      <ion-icon name="person"></ion-icon>
                  </ion-col> -->
                </ion-row>
                <ion-row>
                    <ion-col col-12>
                        <ion-item class="item1">
                            <ion-label>Register As</ion-label>
                            <!-- <ion-input type="text" placeholder="Gender" [(ngModel)]="gender"> </ion-input> -->
                            <ion-select [(ngModel)]="register_as">
                                <ion-option value="customer" >Customer</ion-option>
                                <ion-option value="doctor">Doctor</ion-option>
                            </ion-select>
                        </ion-item>
                    </ion-col>
                </ion-row>
                <!-- <ion-row>
                    <ion-col col-9>
                        <ion-item class="item1">
                            <input type="file" id="prof_pic" accept="image/*" (change)="changePic($event)" accept="image/*" />
                        </ion-item>
                    </ion-col>
                    <ion-col class="colrow" col-3>
                        <ion-icon ios="ios-image" md="md-image"></ion-icon>
                    </ion-col>
                </ion-row> -->
                <!-- <ion-row>
                  <ion-col col-9>
                      <ion-item class="item1">
                          <ion-label floating class="top_item">Date Of Birth</ion-label>
                          <ion-label class="date">Date</ion-label>
                          <ion-datetime displayFormat="MM/DD/YYYY" [(ngModel)]="myDate"></ion-datetime>
                      </ion-item>
                  </ion-col>
                  <ion-col class="colrow" col-3>
                      <ion-icon name="calendar"></ion-icon>
                  </ion-col>
              </ion-row> -->
                <ion-row>
                    <ion-col col-9>
                        <ion-item class="item1">
                            <!-- <ion-label floating class="top_item">Phone Number</ion-label> -->
                            <ion-input type="text" placeholder="Phone Number" [(ngModel)]="phone"> </ion-input>
                        </ion-item>
                    </ion-col>
                    <ion-col class="colrow" col-3>
                        <ion-icon name="call"></ion-icon>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col col-9>
                        <ion-item class="item1">
                            <!-- <ion-label floating class="top_item">Email</ion-label> -->
                            <ion-input type="text" placeholder="Email" [(ngModel)]="email"> </ion-input>
                        </ion-item>
                    </ion-col>
                    <ion-col class="colrow" col-3>
                        <ion-icon name="mail"></ion-icon>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col col-9>
                        <ion-item class="item1">
                            <!-- <ion-label floating class="top_item">Password</ion-label> -->
                            <ion-input type="password" placeholder="Password" [(ngModel)]="password1"> </ion-input>
                        </ion-item>
                    </ion-col>
                    <ion-col class="colrow" col-3>
                        <ion-icon name="eye"></ion-icon>
                    </ion-col>
                </ion-row>
                <ion-row class="lastrow">
                    <ion-col col-9>
                        <ion-item class="item1">
                            <!-- <ion-label floating class="top_item">Conform Password</ion-label> -->
                            <ion-input type="password" placeholder="Conform Password" [(ngModel)]="password2"> </ion-input>
                        </ion-item>
                    </ion-col>
                    <ion-col class="colrow " col-3>
                        <ion-icon name="lock"></ion-icon>
                    </ion-col>
                </ion-row>
                
            </ion-grid>
            
            <!-- <div class="row div_button">
            
              <div class="col">
                  <button ion-button outline round (click)="opnpagecode()" id="btn-login">SIGN UP</button><br>
                  <div class="row signuplabel">
                      <div class="col">
                          <p > Create an account?<span> Sign up.</span></p>
                      </div>
                  </div>
              </div>
              
              
          </div>  -->
        </ion-list>


    </div>

    <div class="div_button">
        <button ion-button outline round (click)="doSignUp()" id="btn-register">SIGN UP</button><br>
        <p (click)="openSignInPage()"> Already have an account?<span> Sign In.</span></p>
    </div>

    <div class="error_popup">
        <p>{{error}}</p>
        <span (click)="dismissPopup()">OK</span>
    </div>
</ion-content>